@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
body{
  font-family: 'Quicksand', sans-serif;
}



.bghero{
  background-image: url('./bg1.svg');
}

.bg2{
  background-image: url('./bg2.svg');
  background-repeat: none;
  background-clip: content-box;
}
.bg3{
  background-image: url('./bg3.svg');
}


.bg4{
  background-image: url('./bg4.svg');
}

.firstcolr{
  background-color: #0052CC;
  
}
.firstcolor{
  color: #0052CC;
}

.secondcolr{
  background-color: #172B4D;
  
 
}
.secondcolor{
  color:#172B4D;
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}


.thirdcolr{
  background-color: #93eec4;
}

.fourthcolr{
  background-color: #eb9c67;
}

.fifthcolr{
  background-color: #494b5f;
}

.sixcolr{
  background-color: rgb(4, 60, 82);
}

.gradient1{
  background-color: #212224;
  background-image: linear-gradient(315deg, #212224 0%, #121212 54%);
}


.bg {
 
  background: radial-gradient(ellipse at center, rgba(17, 8, 2, 0.849) 0%, rgba(32, 51, 6, 0.801) 100%), radial-gradient(ellipse at 70% 60%, rgb(6, 15, 98) 0%, rgba(195, 224, 96, 0) 30%), radial-gradient(ellipse at bottom left, rgb(3, 32, 39) 0%, rgba(0, 163, 203, 0) 70%), linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, rgba(18, 46, 119, 1) 100%), linear-gradient(to right, rgba(98, 87, 147, 1) 0%, rgb(10, 3, 70) 17%, rgb(47, 2, 36) 74%, rgb(88, 53, 24) 100%);
  background-blend-mode: screen, hue, color, overlay, normal;
  
}

.gradient2{
  background: linear-gradient(227deg, #000000, #1d2224, #121312);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}
@keyframes AnimationName {
  0%{background-position:0% 78%}
  50%{background-position:100% 23%}
  100%{background-position:0% 78%}
}

.theme-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
