@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
body{
  font-family: 'Quicksand', sans-serif;
}



.bghero{
  background-image: url('./bg1.svg');
}

.bg2{
  background-image: url('./bg2.svg');
  background-repeat: none;
  background-clip: content-box;
}
.bg3{
  background-image: url('./bg3.svg');
}


.bg4{
  background-image: url('./bg4.svg');
}

.firstcolr{
  background-color: #0052CC;
  
}
.firstcolor{
  color: #0052CC;
}

.secondcolr{
  background-color: #172B4D;
  
 
}
.secondcolor{
  color:#172B4D;
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}


.thirdcolr{
  background-color: #93eec4;
}

.fourthcolr{
  background-color: #eb9c67;
}

.fifthcolr{
  background-color: #494b5f;
}

.sixcolr{
  background-color: rgb(4, 60, 82);
}

.gradient1{
  background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}


.bg {
 
  background: radial-gradient(ellipse at center, rgba(17, 8, 2, 0.849) 0%, rgba(32, 51, 6, 0.801) 100%), radial-gradient(ellipse at 70% 60%, rgb(6, 15, 98) 0%, rgba(195, 224, 96, 0) 30%), radial-gradient(ellipse at bottom left, rgb(3, 32, 39) 0%, rgba(0, 163, 203, 0) 70%), linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, rgba(18, 46, 119, 1) 100%), linear-gradient(to right, rgba(98, 87, 147, 1) 0%, rgb(10, 3, 70) 17%, rgb(47, 2, 36) 74%, rgb(88, 53, 24) 100%);
  background-blend-mode: screen, hue, color, overlay, normal;
  
}




.btnupcoming {
	background: linear-gradient(-45deg, #0c0416, #0e2ac8, #0a084d, #0e2520);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}