@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
body{
  font-family: 'Nunito', sans-serif;
}


.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.color1{
 @apply bg-blue-600;
}

.textcolor1{
  @apply text-blue-600;
}

.textcolor2{
  @apply text-gray-700;
}